PORT=3000
DATABASE_PATH=./data/stock.db

# NAS Deploy Settings
NAS_SUDO_PASSWORD=your_nas_sudo_password_here
NAS_HOST=192.168.99.105
NAS_USER=na
NAS_DIR=/share/homes/na/stock-comnakrub
NAS_DATA_DIR=/share/homes/na/stock-data
